<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/6036f5d002.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="index.css">
  <title>Wikipedia Viewer</title>
</head>

<body>
  <header>
    <h1>Wikipedia Viewer</h1>
  </header>
  <main>
    <h2>
      <a href="https://en.wikipedia.org/wiki/Special:Random">Click here for a random article</a>
    </h2>

    <i class="fa-solid fa-magnifying-glass" id="search"></i>

    <form action="/article" method="get" class="hide" id="form">
      <input type="text" name="title">
      <i class="fa fa-light fa-xmark" id="close-btn"></i>
    </form>
    <h3>Click icon to search</h3>

    <% if (titles) { %>
      <ul>
        <% for (let i=0; i < titles.length; i++) { %>
          <li>
            <a href="<%= links[i]  %> " target="_blank">
              <%=titles[i] %>
            </a>
          </li>
          <% } %>
      </ul>
      <% } %>

  </main>
  <script src="index.js"></script>
</body>

</html>