<div class="card-body">
    <h5 class="card-title">Are you sure you want to delete <%= recipes[currentRecipe].recipe %>?</h5>
</div>
<div class="card-body">
    <!-- cancel delete  -->
    <a href="/delete/cancel" class="btn btn-secondary">Cancel</a>
    <!-- confirm delete  -->
    <a href="/delete/confirm" class="btn btn-danger">Confirm</a>
</div>
