<div class="card-body">
  <h3>Edit Recipe</h3>
  <form class="p-1" method="GET" action="/edit/confirm">
    <div class="mb-3">
      <label for="name" class="form-label">Recipe</label>
      <input type="text" class="form-control" id="name" value="<%= recipes[currentRecipe].recipe%>" name="name">
    </div>
    <div class="mb-3">
      <label for="ingredient" class="form-label">Ingredients</label>
      <textarea class="form-control" id="ingredient"
        name="ingredient"><%= recipes[currentRecipe].ingredients.join(" / ")%></textarea>
    </div>
    <div class="mb-3">
      <label for="direction" class="form-label">Directions</label>
      <textarea class="form-control" id="direction"
        name="direction"><%= recipes[currentRecipe].directions.join(" / ")%></textarea>
    </div>
    <div class="btn-holder d-flex justify-content-center">
      <!-- cancel edit  -->
      <a href="/edit/cancel" class="btn btn-secondary">Close</a>
      <!-- confirm edit  -->
      <button type="submit" class="btn btn-danger">Save</button>
    </div>
  </form>
</div>